#eventsTable tr td button {
    width: 5em;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

.event-page-content table {
    background: white;
    padding: 1em;
    border-radius: 5px;
    margin-bottom:1em;
    width:100%;
}

.event-row {
    display: grid;
    align-items:center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 2em;
    border: 1px solid #333;
    padding: 8px;
}

.event-row td {
    text-align:center;
}

@media screen and (max-width: 768px) {
    .action-buttons {
        flex-direction:column;
        align-items:center;
    }
}

@media screen and (max-width: 480px) {
    #eventsTable tr td button {
        width: 100%;
        font-size:.75em;
    }

    .event-row {
        font-size:.75em;
    }
}



