.modal {
    display:none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    display:flex;
    flex-direction: column;
    background: white;
    padding: 1.5em;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.ln-view-entry-item {
    margin-bottom: 10px;
}

#close-btn {
    cursor: pointer; /* Fixed the typo */
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: none;
}

#close-btn:hover,
#close-btn:focus {
    color: black;
    text-decoration: none;
}

/* Changes saved message */
.notification {
    background: #e3e3e3;
    padding:10px 20px;
    position:fixed;
    bottom:20px;
    right:20px;
    border-radius:5px;
    opacity:0;
    transition:opacity 0.5s ease;
}

.notification.show{
    opacity:1;
}

/* Class to show modal */
.modal.active {
    display: flex;
}

/* Prevent body from scrolling when modal is open */
body.modal-open {
    overflow: hidden;
}
