@media screen and (max-width: 768px) {

    .weather-information {
        padding: .25em;
    }

    .statistics p, .ln-forecast-child p {
        font-size: .75em;
    }

    .ln-directory-container {
        margin: 1em 0 1em 0;
    }

    /*  Footer  */

    .ln-footer-container p {
        font-size:.75em;
    }

    .ln-footer-child-1 h4 {
        font-size: .8em;
    }

    .ln-footer-child-1 a {
        font-size: .7em;
    }

    .fa {
        width:15%;
    }

    .home-container, .ln-directory-container {
        margin-left: 1em;
        margin-right: 1em;
    }



}

@media screen and (max-width: 512px) {
    .ln-forecast-child p {
        font-size: 1em;
    }

    .ln-forecast-child {
        gap:30px;
    }

    .ln-description-container {
        display:block;
    }

    .ln-hero-image {
        display:none;
    }

    .ln-hero-image-mobile {
        display:grid;
    }

}