@media screen and (max-width: 768px) {

    .weather-information {
        padding: .25em;
    }

    .statistics p {
        font-size: .75em;
    }

    .ln-directory-container {
        margin: 1em 0 1em 0;
    }

    /*  Footer  */

    .ln-footer-container p {
        font-size:.75em;
    }

    .ln-footer-child-1 h4 {
        font-size: .8em;
    }

    .ln-footer-child-1 a {
        font-size: .7em;
    }

    .fa {
        width:15%;
    }



}