@media screen and (max-width: 768px) {

    .ln-form-container {
        display: flex;
        flex-direction:column;
        gap:0;
    }

    /**** Join Form ****/

    .form {

        order: 2;
    }

    .form div form input {
        height: 44px;
    }

    .form div form select {
        height: 44px;
    }

    /*Submit Button*/
    .form div form input[type="submit"] {
        margin-top: 1em;
        height: 44px;
    }

    /**** Membership Levels ****/

    .membership-levels {

        order: 1;

    }



}

