body {
    background-color: #eee;
}

header {
    text-align: center;
}

section {
    background-color: lightblue;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

#cards {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;

}
