body {
    background-color: #eee;
}

header {
    text-align: center;
}

section {
    background-color: lightblue;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
